{% extends "global/Page.html" %}
{% load otree static %}
{% block styles %}
<style>
     .custom-border {
        border-color: #d6d8db;
    }
 </style>
{% endblock %}
{% block title %}
    Comprehension Check
{% endblock %}

{% block content %}
<div class="container bg-light border custom-border" style="padding-left:30px; padding-right:30px">
    <br>
    <p>
        Before continuing, please answer the following questions to confirm that you understood the instructions.
    </p>

    <p>
        {% formfields %}
    </p>

    <p>
    <!-- .otree-btn-next is the CSS/jQuery selector for this button -->
    <button class="otree-btn-next btn btn-primary">Next</button>
    </p>
</div>
{% endblock %}

{% block scripts %}
<script>
    function skipPage() {
        document.querySelector('input[name="comprehension_situations"][value="{{ correct_situations }}"]').checked = true;
        document.querySelector('input[name="comprehension_task"][value="{{ correct_task }}"]').checked = true;
        document.querySelector('input[name="comprehension_bonus"][value="{{ correct_bonus }}"]').checked = true;
    }
</script>
{% endblock %}
