{% extends "global/Base.html" %}
{% load otree static %}

{% block title %}
    Introductory survey - Elicitation
{% endblock %}

{% block content %}
    <div style="font-size: 16px;"><strong>Please answer the following questions.</strong></div>
    <div style="margin-top: 30px">
        {{ formfields }}
    </div>

    <div style="margin-top: 30px;">
        {{ next_button }}
    </div>


{{ endblock }}





{{ block scripts }}
    <script>
        function skipPage() {
            document.getElementById('id_Demographics_Household_Income-3').checked = true;
            document.getElementById('id_Demographics_LiquidWealth-3').checked = true;
            document.getElementById('id_Demographics_IlliquidWealth-3').checked = true;
            document.getElementById('id_Demographics_DebtWealth-3').checked = true;
        }
    </script>
{{ endblock }}
